DATABASE_URL="mysql://root:IkNJTmjyyxseblSyJhVdQQKbqlMRKbgG@gondola.proxy.rlwy.net:55232/railway"

# NextAuth.js Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="630ddcd45de1063ab8fa8fe30a7fdfca42f81e01012b6dcc7bc00d7ed6733ca8"